CONFIG_ESPTOOLPY_FLASHSIZE_2MB=y
CONFIG_ESP_WIFI_ENABLED=y
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y
CONFIG_JTAG_TRANSPORT_DIRECT=y
CONFIG_UART_RELAY_ENABLE=y
